<% include partials/header %>

<div class="form_up">
    <h1>Login</h1>
    
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <div class="button">
            <button>Login</button>
        </div>
    </form>
</div>
<% include partials/footer %>
