<% include partials/header %>

<div class="form_up">
    <h1>Sign Up With Your Username</h1>
    
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Enter Username"></input>
        <input type="password" name="password" placeholder="Password" ></input>
        <div class="button">   
            <button>Sign Up</button>
        </div>
    </form>
</div>
<% include partials/footer %>